#footer {
    width:100%; background:#555; padding:40px 0px 100px;

    .inner {
        width:1000px; margin:0px auto; position:relative; 

        >p {font:12px/1 'arial'; color:#bbb; text-align:center; letter-spacing:4px;}
    }
}

@media screen and (max-width:$tablet){
    #footer {
        .inner {
            width:100%;
        }
    }
}
@media screen and (max-width:$mobile){
    
}